/*
Специально для светлой темы при наличии класса.
Здесь окажутся стили, которые нужно переопределить принудительно,
переключая тему
*/

.page.theme_light {
  --background-color: #FFEEF6;
  --primary-color: #FF8DCB;
  --decor-color: #353430;
  --secondary-color: #FFC2E6;
  --article-text-color: #353430;
  --shadow-color-link: #FF8DCB;
  --background-image: url(../images/cover-image-light.png);

  @media(prefers-color-scheme: light) {
    :root {
      --primary-color: #FF8DCB;
      --decor-color: #353430;
      --secondary-color: #FFC2E6;
      --article-text-color: #353430;
      --shadow-color-link: #FF8DCB;
      --background-image: url(../images/cover-image-light.png);
      background-color: var(--background-color);

    }
  }

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  .decoration-sign {
    display: none;
  }
}