.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-right: 10px;
  padding-left: 10px;
  object-fit: cover;
  font-family: "IBM Plex mono", sans-serif;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  min-height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
  min-block-size: 668px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 13px;
}

.decoration-sign {
  position: absolute;
  z-index: -1;
  display: inline-block;
  color: var(--decor-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  inset-block-start: 0;
  inset-inline-end: 0;
}

.decoration-sign::after {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-inline-start: 10px;
  margin-inline-end: 8px;
  margin-block-end: 3px;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 3px var(--decor-color);
  background-color: currentColor;
  inset-block-start: 0;
  inset-inline-end: 0;
}

.decorated-zone::after {
  content: " ";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  inset-block-start: 10px;
  inset-inline-end: 0;
}

.decorated-zone::before {
  content: " ";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  inset-block-end: 10px;
  inset-inline-start: 0;
}

.header__theme-menu-button {
  border: none;
  padding: 0 15px 3px;
  color: var(--decor-color);
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.40);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decor-color);
}

.header__title {
  align-self: end;
  color: var(--secondary-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__subtext {
  align-self: center;
  color: var(--title-text-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  background-color: var(--primary-color);
}

.content {
  display: grid;
  gap: 50px;
}

.content__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__section-heading {
  grid-column-start: 1;
  grid-column-end: 2;
  color: var(--decor-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.full {
  grid-row-start: 1;
  grid-row-end: span 2;
}

.additional {
  grid-column-end: span 2;
}

.content__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__article-heading {
  color: var(--title-text-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  background-color: var(--primary-color);
}

.content__article-text {
  color: var(--article-text-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.content__article-link {
  text-shadow: 2px 2px 0 var(--shadow-color-link);
}

.content__article-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content__article-link:focus-visible {
  outline: 1px solid var(--article-text-color);
}

.content__article-heading--small {
  color: #000028;
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  background-color: var(--primary-color);
}

.content__section-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery__heading {
  color: var(--shadow-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.gallery__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images {
  max-width: 100%;
  object-fit: cover;
  block-size: 100%;
}

.images-sunset {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
}

.images-icecream {
  grid-row-start: 1;
  grid-row-end: span 2;
}

.images-tape {
  grid-row-start: 2;
  grid-row-end: span 2;
}

.images-street {
  grid-column-start: 2;
  grid-column-end: span 2;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  min-block-size: 668px;
  min-height: 100vh;
}

.footer-title {
  align-self: center;
  color: var(--secondary-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--shadow-color);
}

@media (min-width: 768px) {
  .page {
    gap: 60px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
    block-size: 1024px;
  }

  .header__theme-menu {
    grid-column-start: 2;
  }

  .header__theme-menu-list {
    grid-column-start: 2;
  }

  .header__title {
    grid-column-start: 1;
    grid-column-end: span 2;
    justify-self: start;
    margin-inline-start: -20px;
  }

  .header__subtext {
    grid-column-start: 2;
  }

  .decorated-zone::after {
    inset-block-start: 20px;
  }

  .decorated-zone::before {
    inset-block-end: 20px;
    inset-inline-start: 0px;
  }

  .content {
    gap: 80px;
  }

  .content__section {
    display: grid;
    gap: 20px;
    column-gap: 23px;
  }

  .content__section:nth-child(odd) {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__section-heading {
    max-width: 228px;
  }

  .additional {
    margin-left: 7px;
  }

  .content__article {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .content__section:nth-child(odd) .content__article {
    grid-column-start: 2;
    grid-column-end: span 2;
    margin-left: 7px;
  }

  .content__section:nth-child(even) .content__article {
    margin-left: 0;
  }

  .gallery__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 10px;
  }

  .footer {
    block-size: 1024px;
  }
}

@media(min-width: 1024px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
    block-size: 768px;
  }

  .header__theme-menu {
    grid-column-start: 2;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    grid-column-start: 1;
    grid-column-end: span 3;
    font-size: 157px;
  }

  .header__subtext {
    grid-column-start: 2;
    grid-column-end: span 2;
    margin-left: 165px;
  }

  .content__section:nth-child(even) {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__section-heading {
    min-width: 310px;
  }

  .additional {
    margin-left: 0;
  }

  .content__section:nth-child(odd) .content__article {
    margin-left: 0;
  }

  .middle {
    grid-column-end: 4;
  }

  .fixed-width {
    width: 315px;
  }

  .footer {
    block-size: 768px;
  }

  .footer-title {
    font-size: 157px;
  }

  .images {
    block-size: 99%;
  }
}

/* не могу повторить ошибку с размером 
картинок в разрешении 375 
у меня все нормально отражается 
https://ru.paste.pics/PWYC0 */