/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex mono", sans-serif;
}

.header {
  /* display: grid; */

}

.decorated-zone {}

.header__theme-menu {}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-item {}

.header__theme-menu-button {
  color: var(--shadow-color);
}

.header__theme-menu-button_type_light {}

.header__theme-menu-button_active {}

.header__theme-menu-button_type_auto {}

.header__theme-menu-button_type_dark {}

.hero-section {}

.hero-section__title {
  color: var(--secondary-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  font-size: var(--title-size);
}

.hero-section__subtext {
  background-color: var(--shadow-color);
}